<!DOCTYPE html>
<html lang="en">
  <%- include('../global/head') %>
  <body class="bg-light-500 dark:bg-primary-500" <!-- header -->
    <%- include('../global/header') %>

    <!-- main -->
    <main class="w-full px-4 md:px-16 py-3 flex flex-col gap-3">
      <div class="w-full flex justify-between items-center">
        <div class="w-[200px] h-[50px] flex items-end gap-5">
          <div
            class="text-primary-500 dark:text-light-500 text-lg font-extrabold"
          >
            Technologies
          </div>
        </div>
        <!-- /Technologies/add -->
        <a
          href="/admin/technologies/add"
          class="border border-secondary-500 px-6 py-2 bg-light-500 dark:bg-primary-600 text-primary-500 dark:text-light-500"
          >Add Technology</a
        >
      </div>

      <!-- projects -->
      <div class="relative overflow-x-auto">
        <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
        >
          <thead
            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
          >
            <tr>
              <th scope="col" class="px-6 py-3">Name</th>
              <th scope="col" class="px-6 py-3">logo</th>
              <th scope="col" class="px-6 py-3">Action</th>
            </tr>
          </thead>
          <tbody>
            <% for( let index = 0; index < Technologies.length; index++ ) { %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th
                scope="row"
                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
              >
                <%= Technologies[index].name %>
              </th>
              <td class="px-6 py-4">
                <img
                  src="/assets/Technlogies-images/<%= Technologies[index].logo %>"
                  alt="<%= Technologies[index].name %>"
                  class="h-[25px] object-contain"
                />
              </td>
              <td class="px-6 py-4">
                <!-- <a
                  href="/admin/technologies/edit/<%= Technologies[index]._id %>"
                  class="text-primary-500 dark:text-light-500"
                  >Edit</a
                > -->
                <a
                  href="/admin/technologies/delete/<%= Technologies[index]._id %>"
                  class="text-danger-500 dark:text-danger-500 flex gap-2 items-center"
                  >
                  <i class="fas fa-trash"></i> Delete
                </a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </main>

    <script defer>
      const darkmodeButton = document.querySelector("#toggle-darkmode");
      const darkmode = localStorage.getItem("theme");
      const html = document.querySelector("html");
      if (darkmode === "dark") {
        darkmodeButton.checked = true;
        html.classList.add("dark");
      } else {
        darkmodeButton.checked = false;
        html.classList.remove("dark");
      }

      darkmodeButton.addEventListener("change", (e) => {
        if (e.target.checked) {
          html.classList.add("dark");
          localStorage.setItem("theme", "dark");
        } else {
          html.classList.remove("dark");
          localStorage.setItem("theme", "light");
        }
      });
    </script>
  </body>
</html>
