<!DOCTYPE html>
<html lang="en">
  <%- include('global/head') %>
  <body class="max-w-[1440px] w-full mx-auto bg-light-500 dark:bg-primary-500 min-h-[1500px]">
    <%- include('components/header') %>
    <%- include('components/main') %>
    <%- include('components/aboutme')  %>
    <%- include('global/footer')%>
  </body>
</html>
